<!-- Header -->
<header class="siteHeader">
  <div class="container">
    <div class="upper-header">
      <div class="logo-sec">
        <a href="#"><img src="assets/logo.png" /></a>
      </div>
      <div class="navbar">
        <ul>
          <li>
            <a href="#"><img src="assets/megaphone.png" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/megaphone.png" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/megaphone.png" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/megaphone.png" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/megaphone.png" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="content-sec">
  <div class="container">
    <div class="left-bar">
      <div class="sec-bar">
        <p>
          Section:
          <i (click)="getStep1Data()" [ngClass]="i == 0 ? 'yellow' : ''" class="fa fa-home" aria-hidden="true"></i>
          <i (click)="getStep1Data()" [ngClass]="i == 1 ? 'yellow' : ''"  aria-hidden="true">|</i>
          <i (click)="getStep2Data()" [ngClass]="i == 2 ? 'yellow' : ''"  aria-hidden="true">||</i>
        </p>
      </div>
      <div class="question-sec">
        <img src="assets/arrow.png" />
        <p>Question:</p>
        <i (click)="nextPageData(k+1)" [ngClass]="i == k+1 ? 'yellow' : ''" *ngFor="let d of dataStep1 | slice:1:dataStep1.length-1; let k = index">{{k+1}}</i>


        <a (click)="prevData()" class="previous round">&#8249;</a>
        <a (click)="nextData()" class="next round">&#8250;</a>
      </div>
      <div class="text-bar">
        <h2>{{ stageData.stage_title }}</h2>
        <p class="scroll" [innerHTML]="stageData.stage_content"></p>
        <p>Click <b>Next </b>to continue.</p>
        <a (click)="nextData()">Next</a>
      </div>
    </div>
    <div class="right-sec modeling">
      <div class="tabing-sec">
        <div class="tab">
          <button class="tablinks active" onclick="openCity(event, 'London')">
            Controls
          </button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">
            Tables
          </button>
        </div>

        <div class="tabcontent">
          <div class="slidecontainer">
            <p><b>Tortoise:</b> head start in meters:</p>
            <div class="icon-sec">
              <img src="assets/tortoise.png" />
            </div>
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              step=".1"
              class="slider"
              (change)="t1Change()"
              id="myRange"
              [(ngModel)]="T1"
            />
            <span id="f" style="font-weight: bold; color: red">{{ T1 }}</span>
          </div>
          <div class="slidecontainer">
            <p><b>Tortoise:</b> average speed in meters per second:</p>
            <div class="icon-sec">
              <img src="assets/tortoise.png" />
            </div>
            <input
              type="range"
              min="1"
              max="100"
              value="50"
              step=".1"
              class="slider"
              id="myRange"
              (change)="t1Change()"
              [(ngModel)]="T2"
            />
            <span id="f" style="font-weight: bold; color: red">{{ T2 }}</span>
          </div>
        </div>

        <div class="tabcontent">
          <div class="slidecontainer">
            <p><b>Hare:</b> average speed in meters per second:</p>
            <div class="icon-sec">
              <img src="assets/rabbit-shape.png" />
            </div>
            <input
              type="range"
              min="1"
              max="100"
              value="40"
              class="slider"
              step=".1"
              id="myRange"
              (change)="t1Change()"
              [(ngModel)]="H1"
            />
            <span id="f" style="font-weight: bold; color: red">{{ H1 }}</span>
          </div>
          <div class="checkbox-sec">
            <input type="checkbox" />
            <p>Show whether the hare oertakes the tortoise.</p>
          </div>
        </div>
      </div>
      <div class="graph-sec">
        <div id="box" class="jxgbox" style="width: 300px; height: 300px"></div>
      </div>
      <div class="race-sec">
        <button (click)="simulation()">Simulate</button>
        <div class="row forest">
          <div class="row">
            <img class="tortoise" id="tortoise" [src]="torImgSrc" />
          </div>
          <div class="row">
            <img class="hare" id="hare" [src]="hareImgSrc" />
            <!-- <img
            class="hare"
            src="assets/images/tortoise/4.svg"
            onclick="this.style.left='450px'"
          /> -->
          </div>
        </div>
        <!-- <img src="assets/race-pic.jpg"/> -->
      </div>
    </div>
  </div>
</div>
